<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Background</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>

<hr>

<div class="d-flex justify-content-center">
    <div class="card col-lg-6">
        <div class="card-body ">
            <div class="container-fluid">
                <table class="table-responsive table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" ><h3 >Education</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Course</th>
                        <th scope="col">School</th>
                    </tr>
                    <tr>
                        <td scope="row">2017</td>
                        <td>MA Counseling Psychology</td>
                        <td>Ateneo de Manila University</td>
                    </tr>
                    <tr>
                        <td scope="row">2004</td>
                        <td>AB Psychology</td>
                        <td>Ateneo de Manila University</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Certifications -->
<div class="d-flex justify-content-center">
    <div class="card col-lg-6">
        <div class="card-body ">
            <div class="container-fluid">
                <table class="table-responsive table-borderless">
                    <thead>
                    <tr>
                        <th scope="col"><h3>Online Certifications</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row">October 2021</td>
                        <td>Free Code Camp</td>
                        <td><a href="https://www.freecodecamp.org/certification/Mikster/responsive-web-design">Responsive Web Design</a></td>
                    </tr>
                    <tr>
                        <td scope="row">Aug 2021</td>
                        <td>Udemy</td>
                        <td>2021 Complete Python Bootcamp</td>
                    </tr>
                    <tr>
                        <td scope="row">February 2022</td>
                        <td>Udemy</td>
                        <td> The Python Bible</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Work Experience -->

<div class="d-flex justify-content-center">
    <div class="card col-lg-6">
        <div class="card-body ">
            <div class="container-fluid">
                <table class="table-responsive table-borderless">
                    <thead>
                    <tr>
                        <th scope="col"><h3>Work Experience</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Dates</th>
                            <th>Work</th>
                        </tr>
                        <tr>
                            <td scope="row">2005 – Present</td>
                            <td>Corporate English Trainer, GoFluent</td>
                        </tr>
                        <tr>
                            <td scope="row">2015 – 2021</td>
                            <td>Freelance Research Analyst, Wonder</td>
                        </tr>
                        <tr>
                            <td scope="row">2009 – 2013</td>
                            <td>Junior Associate Psychologist, PsychConsult</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr>

    <h3><a href = "contactpage.html">Contact Me</a></h3>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
